{% load static %}
<noscript>
    <style>
        .js-autocomplete {
            display: none;
        }
    </style>
    <select name="{{ widget.name }}" multiple>
        {% for obj in widget.fallback_queryset %}
        <option value="{{ obj.pk }}" {% if obj.pk in widget.selected %}selected{% endif %}>
            {{ obj }}
        </option>
        {% endfor %}
    </select>
</noscript>


<div class="js-autocomplete">
    <div id="selected_{{ widget.name }}" class="autocomplete-tags">
        {% for obj in widget.selected_objects %}
        <span class="autocomplete-tag" id="{{widget.form_field_name}}_input_{{obj.pk}}">
            <button type="button" class="remove-tag"
            _="on click halt the event wait 100ms then remove #{{widget.form_field_name}}_input_{{obj.pk}}">
            {{ obj }}
            </button>
            <input type="hidden" name="{{ widget.form_field_name }}" value="{{ obj.pk }}">
        </span>
        {% endfor %}
    </div>


    <input type="{{ widget.type }}" class="autocomplete-input" name="{{ widget.name }}_autocomplete" {% include "django/forms/widgets/attrs.html" %}>

</div>